// 页面背景图
body{
  background:url(/images/bg.jpg);
  background-size:cover;
  background-repeat:no-repeat;
  background-attachment:fixed;
  background-position:center;
}

//修改不蒜子数据颜色
.busuanzi-value {
  color: #1890ff;
}
